.hero {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #333;
  position: relative;
  overflow: hidden;
  align-items: left;
  background-image: url(../src/image/mulher-dinheiro-mao.jpg);
  background-position-y: 30%;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.heroContent {
  padding: 1rem;
  border-radius: 18px;
  width: 40%;
  margin: 0 20px;
  z-index: 1;
  margin-bottom: 5rem;
}

.heroTitle {
  font-size: 36px;
  margin-bottom: 40px;
}
.heroText {
  font-size: 18px;
  margin-bottom: 60px;
  width: 80%;
}

.btn {
  padding: 12px 48px;
  background-color: #009688;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;

  text-align: left;
  display: flex;
}
.btn:hover {
  background-color: #007a6b;
}

.btn2 {
  padding: 12px 48px;
  background-color: #009688;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;

  text-align: left;
  display: flex;
  margin-left: 2.5rem;
}
.btn2:hover {
  background-color: #007a6b;
}

.howToApply {
  background-color: #ffffff;

  display: flex;
  margin-bottom: 0;
}
.howToApplyTitle {
  text-align: left;
  flex: 1;
}
.contratarTitle {
  font-size: 2.5rem;
  width: 85%;
  color: #333;
  padding-left: 2.5rem;
  text-align: left;
}
.contratarText {
  font-size: 1.5rem;
  width: 70%;
  color: #444;
  font-weight: 600;
  padding-top: 2rem;
  padding-left: 2.5rem;
  text-align: left;
}

.howToApplyText {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: left;
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
}

.row {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.col {
  padding: 0;
  position: relative;
}

.stepNumber {
  margin-top: 0.5rem;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #009688;
  color: #007a6b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.stepConnector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 115%);
  width: 2px;
  background-color: #009688;
  z-index: 1;
  height: 105%;
}

.row:last-child .stepConnector {
  height: 0;
  border: 1px solid #007a6b;
}
.row:last-child .stepNumber {
  background-color: #007a6b;
  color: #f8f8f8;
  border: 1px solid #007a6b;
}
.stepContent {
  border-radius: 8px;
  margin-left: 50px;
}

.stepTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.stepDescription {
  font-size: 16px;
  line-height: 1.4;
  width: 90%;
}

.stepConnector:before {
  content: "";
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #009688;
}

.advantages {
  text-align: center;
}
.advantagesTitle {
  font-size: 24px;
  margin-bottom: 4rem;
}

.valuesContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}

.valueCard {
  width: calc(23.33% - 20px);
  height: 18rem;
  background-color: #f5f5f5;
  padding: 20px;
  margin: 1rem;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valueCardImg {
  max-width: 80px;
  margin-bottom: 10px;
  background-image: url(../src/image/economizar.png);
  width: 80px;
  height: 80px;
  background-size: cover;
  margin-bottom: 2rem;
}
.valueCardImg2 {
  max-width: 80px;
  margin-bottom: 10px;
  background-image: url(../src/image/fundos.png);
  width: 80px;
  height: 80px;
  background-size: cover;
  margin-bottom: 2rem;
}
.valueCardImg3 {
  max-width: 80px;
  margin-bottom: 10px;
  background-image: url(../src/image/negativado.png);
  width: 80px;
  height: 80px;
  background-size: cover;
  margin-bottom: 2rem;
}
.valueCardImg4 {
  max-width: 80px;
  margin-bottom: 10px;
  background-image: url(../src/image/bolsadinheiro.png);
  width: 80px;
  height: 80px;
  background-size: cover;
  margin-bottom: 2rem;
}
.valueCardTitle {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.valueCardText {
  font-size: 16px;
  color: #555;
}

.img__whats {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.refinport {
  display: flex;
  flex-direction: column;
}

.form__h1 {
  font-size: 28px;
  font-weight: bold;
  padding-left: 2.5rem;
  text-align: left;
  color: #009edf;
}

.form__p {
  font-size: 18px;
  width: 60%;
  font-weight: 600;
  padding-top: 2rem;
  padding-left: 2.5rem;
  color: #666666;
  margin-bottom: 30px;
  text-align: left;
}

.back {
  background-color: #f2f2f298;
  width: calc(100% - 20px);
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
}
