

* {  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: inherit;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
