.header {
  background-color: #009edf;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  text-shadow: 1px 1px 4px #858383;

  margin-left: 4rem;
  text-align: center;
  line-height: 100%;
  margin-bottom: 10px;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

.img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.title__slide {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
.frase__slide {
  color: #333;
}
.instituicao {
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

.hero {
  background-color: #f4f4f4;
  text-align: center;
  padding: 40px;
  padding-top: -10px;
  padding-bottom: 60px;
  height: 100%;
  margin-bottom: 20px;
}

.linha {
  display: flex;
  align-items: center;
  padding: 0 10rem;
}
.bloco1 {
  margin-right: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloco1 .linha2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bloco2 {
  display: flex;
  align-items: center;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card__title {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333333;
}

.card__description {
  font-size: 14px;
  color: #777;
  line-height: 1.4;
  margin-bottom: 20px;
  transition: color 0.3s;

  height: 60%;
  font-size: 14px;
  color: #777;
}

.card__button {
  background-color: transparent;
  color: #00897b;

  padding: 0px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  font-weight: bold;
  text-transform: uppercase;

  align-items: end;
}
.toque__slide {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.toque {
  margin-right: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
}

.card {
  position: relative;
  width: 300px;
  height: 420px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: transform 0.3s;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.75rem 1.25rem;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #fff;
  direction: ltr;

  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}

.whats__tel {
  color: #666;
  font-size: 18px;
  line-height: 1.2;
  direction: ltr;
}
.img__whats {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .services {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

.titulos__services {
  display: flex;

  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-size: 2rem;
  color: #333;
  margin-top: -0.25rem;
}

.card:hover {
  cursor: pointer;

  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}

.testimonial-section {
  background-color: #f4f4f4;
  padding: 40px;
  text-align: center;
}

.testimonial-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.testimonial-carousel::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.testimonial-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.testimonial-card p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.aas {
  border-top: 1px solid #22222224;
  border-bottom: 1px solid #22222224;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
}
.aas:first-child {
  margin-top: 0;
}
.aas:hover {
  background-color: #f4f4f4e0;
}
