.testando {
  background-image: url(../src/image/abertura-cartao.webp);
  width: 300px;
  height: 100px;
}
.form__h1 {
  color: #009edf;

  font-size: 2rem;
  padding-left: 2.5rem;
  text-align: left;
  width: 150%;
}
.form__p {
  font-size: 4rem;
  color: #000;
  font-weight: 600;
  padding-top: 2rem;
  padding-left: 2.5rem;
  text-align: left;
}
.form__p2 {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 2.5rem;
  text-align: left;
  color: #666666;
  font-size: 18px;
  line-height: 1.5;
}
.section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.back {
  background-color: #f2f2f298;
  width: calc(90% - 20px);
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
}
.section2 {
  flex: 1.3;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  padding: 1rem;
  border: 1px solid #efefef;
  background-color: #f9f9f9;
  border-radius: 8px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: calc(65% - 20px);
}

.p {
  margin: 1rem 0;
  font-size: 0.85rem;
}

.test2 {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.label {
  font-size: 0.85rem;
  font-weight: bold;
}

.group__form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.group__text {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0rem;
}

.input__label {
  font-weight: bold;
  font-size: 0.85rem;
}
.input__text {
  background-color: #f0f0f0;
  padding: 0.625rem;
  border-radius: 10px;
  border: none;
  margin: 5px 0;
  width: 90%;
  font-size: 0.85rem;
}
.input__text::placeholder {
  color: #777777;
  font-weight: bold;
  padding-left: 1rem;
  font-size: 0.85rem;
}
.box__btn {
  display: flex;
  justify-content: center;
}
.btn {
  background-color: #009688;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.h3 {
  color: #333333ad;
  font-size: 1.8rem;
}
.btn:hover {
  background-color: #00796b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: translateY(1px);
}

.container__section3 {
  height: 100vh;
  background-color: #009edf;
  padding: 0rem 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simulacao__contato {
  padding-top: 0.5rem;
  font-weight: bold;
  border-bottom: 1px solid #343131;
  width: 20%;
  margin-bottom: 0.25rem;
}

.tests {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.display {
  display: flex;
}

.dacerto {
  display: flex;
}

.form__h1 {
  font-size: 28px;
  font-weight: bold;
}

.form__p {
  color: #666666;
  font-size: 18px;
  line-height: 1.5;
}
.form__ul {
  text-align: left;
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;
}

.form__li {
  margin-bottom: 5px;
}

.privacy {
  margin-top: 20px;
}

.privacy__text {
  font-size: 14px;
  color: #333;
}

.privacy__link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.privacy__link:hover {
  color: #777;
}
@media screen and (max-width: 768px) {
  

  .dacerto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
